$color-primary: #003145;
$color-danger: #d40504;
$color-grey: #767676;
$color-heading: $color-primary;
$border-default: $color-primary;
$btn-primary-color: white;
$btn-primary-bg: $color-danger;
$input-border: $color-grey;
$spacing-vertical: 30px;
$font-size-default: 16px;
$font-size-input: 18px;
$font-size-label: 18px;

// excellence in motion
app-booking-form {
    position: relative;
    height: 100%;
    display: block;

    .header-check-in {
        color: #fff;
        text-transform: uppercase;
        text-align: center;
        padding: $spacing-vertical;
        font-size: 20px;
        background: url(assets/bg.png);
        background-size: cover;
    }

    .check-in {
        padding: $spacing-vertical 40px;
        position: relative;
        margin: 2em auto;
        max-width: 450px;
        border: 1px solid $border-default;
        color: $color-primary;

        @media (max-height: 799px) {
            margin-top: 30px;
            margin-bottom: 30px;
        }

        @media (max-width: 479px) {
            margin-left: 20px;
            margin-right: 20px;
        }

        @media (min-width: 800px) and (min-height: 840px) {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            margin: 0;
        }

        @media (min-width: 480px) {
            max-width: 450px;
        }
    }

    .result {
        font-family: 'Helvetica Neue', roboto, sans-serif;
        font-weight: 100;
        background: #fff;
        position: absolute;
        z-index: 2;
        top: 100%;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: auto;
        transition: top .7s cubic-bezier(0.96, 0.01, 0.42, 1.18);

        &.show {
            top: 0;
        }

        .row {
            border-bottom: 1px solid #ccc;
            padding: 20px;
        }

        h2 {
            text-align: center;
            padding: 40px 20px 15px;
            font-weight: 100;
            font-size: 60px;
        }

        .btn-primary {
            width: 90%;
            margin-top: 75px;
        }
    }

    .row-3 {
        clear: both;
        overflow: auto;

        .result-flight {
            float: left;
            width: 33%;
        }
    }

    .result-flight {
        span {
            font-size: 17px;
            padding-bottom: 5px;
            display: inline-block;
        }

        h3 {
            font-size: 30px;
            font-weight: 200;
        }

        h4 {
            font-size: 27px;
            font-weight: 200;
        }

        @media (max-width: 479px) {
            h4 {
                font-size: 20px;
            }
        }
    }

    .result-header {
        background: url(assets/brand.png);
        background-repeat: no-repeat;
        background-position: center 22px;
        border-bottom: 1px solid #767676;
        height: 60px;
    }

    .title {
        text-transform: uppercase;
        font-size: 40px;
        text-align: center;
        margin-bottom: $spacing-vertical;

        &:after {
            content: "";
            display: block;
            width: 25px;
            height: 4px;
            margin: $spacing-vertical auto 0;
            background-color: $color-primary;
        }
    }

    @media (max-width: 479px) {
        .title {
            font-size: 30px;
        }
    }

    .introduction {
        font-size: 20px;
        font-weight: 300;
        margin-bottom: $spacing-vertical;
        line-height: 30px;
        text-align: justify;
    }

    input {
        font-size: $font-size-input;
    }

    .btn-primary {
        background-color: $btn-primary-bg;
        color: $btn-primary-color;
        padding: 15px 30px;
        border-radius: 2px;
        border: 0;
        font-size: $font-size-input;
        cursor: pointer;

        &:hover {
            opacity: .7;
        }

        &[disabled] {
            background-color: darken($input-border, 1%);
            color: lighten($btn-primary-color, 6%);
        }
    }

    input[type="text"] {
        padding: 12px 15px;
        border: 1px solid $input-border;
        background-color: white;
        margin-bottom: 5px;
        width: 100%;
    }

    .input-group {
        display: block;

        span {
            display: block;
            font-size: $font-size-label;
            font-weight: 500;
            padding-bottom: 15px;
        }

        &.invalid {
            color: $color-danger;
            input { border-color: $color-danger; }
        }
    }

    .input-code input {
        text-transform: uppercase;
    }

    .btn-wrapper {
        padding: 30px 0 0;
        text-align: center;
    }

    .form-error-wrapper {
        height: 50px;
    }

    .form-error {
        padding: 10px 1em;
        border-left: 2px solid $color-danger;
        color: darken($color-danger, 5%);
        background-color: lighten($color-danger, 50%);
    }
}
